<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="Anonymous Message Board by Lucas Montenegro (https://www.linkedin.com/in/lucas-montenegro-1b191915a/)">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon.ico?v=3" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="https://www.linkedin.com/in/lucas-montenegro-1b191915a/" target="_blank"><i class="fab fa-linkedin-in"></i><div style="position: fixed; left: -10000px;">Linkedin profile</div></a></li>
        <li><a href="https://github.com/lucasMontenegro/" target="_blank"><i class="fab fa-github"></i><div style="position: fixed; left: -10000px;">GitHub profile</div></a></li>
        <li><a href="https://codepen.io/lucas_montenegro/full/GXqRWw/" target="_blank"><i class="fas fa-globe-americas"></i><div style="position: fixed; left: -10000px;">Personal portfolio page</div></a></li>
        <li><a href="https://github.com/lucasMontenegro/message-board" target="_blank">source code</a></li>
      </ul>
    </nav>
    <div id="main-wrapper">
      <header>
        <h1>Anonymous Message Board</h1>
      </header>
      <p>Hello, my name is <a href="https://www.linkedin.com/in/lucas-montenegro-1b191915a/" target="_blank">Lucas Montenegro</a> and this is a project that I submitted for the <a href="https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects" target="_blank">advanced back-end certification</a> on <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp.org</a>.</p>
      <p>These are the original instructions for the project:</p>
      <div id="userstories">
        <h3>User Stories</h3>
        <ol>
          <li>Only allow your site to be loading in an iFrame on your own pages.</li>
          <li>Do not allow DNS prefetching.</li>
          <li>Only allow your site to send the referrer for your own pages.</li>
          <li>I can <b>POST</b> a thread to a specific message board by passing form data <code>text</code> and <code>delete_password</code> to <i>/api/threads/{board}</i>. (Recomend res.redirect to board page /b/{board}). 
          Saved will be <code>_id</code>, <code>text</code>, <code>created_on</code> (date&amp;time), <code>bumped_on</code> (date&amp;time, starts same as created_on), <code>reported</code> (boolean), <code>delete_password</code>, &amp; <code>replies</code> (array).</li>
          <li>I can <b>POST</b> a reply to a thead on a specific board by passing form data <code>text</code>, <code>delete_password</code>, &amp; <code>thread_id</code> to <i>/api/replies/{board}</i> and it will also update the bumped_on date to the comments date. (Recomend res.redirect to thread page /b/{board}/{thread_id})
          In the thread's 'replies' array will be saved <code>_id</code>, <code>text</code>, <code>created_on</code>, <code>delete_password</code>, &amp; <code>reported</code>.</li>
          <li>I can <b>GET</b> an array of the most recent 10 bumped threads on the board with only the most recent 3 replies from <i>/api/threads/{board}</i>. The <code>reported</code> and <code>delete_passwords</code> fields will not be sent.</li>
          <li>I can <b>GET</b> an entire thread with all it's replies from <i>/api/replies/{board}?thread_id={thread_id}</i>. Also hiding the same fields.</li>
          <li>I can delete a thread completely if I send a <b>DELETE</b> request to <i>/api/threads/{board}</i> and pass along the <code>thread_id</code> &amp; <code>delete_password</code>. (Text response will be 'incorrect password' or 'success')</li>
          <li>I can delete a post (just changing the text to '[deleted]') if I send a <b>DELETE</b> request to <i>/api/replies/{board}</i> and pass along the <code>thread_id</code>, <code>reply_id</code>, &amp; <code>delete_password</code>. (Text response will be 'incorrect password' or 'success')</li>
          <li>I can report a thread and change it's reported value to true by sending a <b>PUT</b> request to <i>/api/threads/{board}</i> and pass along the <code>thread_id</code>. (Text response will be 'success')</li>
          <li>I can report a reply and change it's reported value to true by sending a <b>PUT</b> request to <i>/api/replies/{board}</i> and pass along the <code>thread_id</code> &amp; <code>reply_id</code>. (Text response will be 'success')</li>
          <li>Complete functional tests that wholely test routes and pass.</li>
        </ol>
        <img src="https://cdn.gomix.com/8f5547a1-a0d6-48f6-aa38-51753a0105f4%2FScreen%20Shot%202017-01-02%20at%201.04.10%20AM.png">
      </div>

      <h3>Explore this project</h3>
      <ul>
        <li>Take a look at the <a href="https://github.com/lucasMontenegro/message-board">source code on GitHub</a>.</li>
        <li><a href="https://glitch.com/#!/import/github/lucasMontenegro/message-board">Click here</a> to make a live copy of this website so you can see the automated tests (you will need to add a database).</li>
        <li>Or just pick a board from the list below and start posting.</li>
      </ul>

      <h2>Boards</h2>
      <ul>
        <li><a href="/b/general">General</a></li>
        <li><a href="/b/javascript">Javascript</a></li>
        <li><a href="/b/html5">HTML5</a></li>
        <li><a href="/b/css">CSS</a></li>
        <li><a href="/b/react">React</a></li>
        <li><a href="/b/jquery">jQuery</a></li>
        <li><a href="/b/node">Node</a></li>
        <li><a href="/b/mysql">MySQL</a></li>
        <li><a href="/b/mongo">MongoDB</a></li>
      </ul>
    </div>
  </body>
</html>
