<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="Anonymous Message Board by Lucas Montenegro (https://www.linkedin.com/in/lucas-montenegro-1b191915a/)">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon.ico?v=3" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li class="to-left"><a href="/">home</a></li>
        <li class="to-left"><a id="board-link"></a></li>
        <li><a href="https://www.linkedin.com/in/lucas-montenegro-1b191915a/" target="_blank"><i class="fab fa-linkedin-in"></i><div style="position: fixed; left: -10000px;">Linkedin profile</div></a></li>
        <li><a href="https://github.com/lucasMontenegro/" target="_blank"><i class="fab fa-github"></i><div style="position: fixed; left: -10000px;">GitHub profile</div></a></li>
        <li><a href="https://codepen.io/lucas_montenegro/full/GXqRWw/" target="_blank"><i class="fas fa-globe-americas"></i><div style="position: fixed; left: -10000px;">Personal portfolio page</div></a></li>
        <li><a href="https://github.com/lucasMontenegro/message-board" target="_blank">source code</a></li>
      </ul>
    </nav>

    <div id="main-wrapper">
      <header>
        <h3 id="threadTitle"></h3>
      </header>
      <br>

      <div id="boardDisplay"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      function renderThread (thread, boardName) {

        let repliesHTML = '';
        for (let reply of thread.replies) {
          repliesHTML += `
            <div class="reply">
              <form id="reportReply" class="report">
                <input type="hidden" name="thread_id" value="${ thread._id }">
                <input type="hidden" name="reply_id" value="${ reply._id }">
                <input type="submit" value="Report" class="button">
              </form>
              <p class="id">id: ${ reply._id } (${ reply.created_on })</p>
              <form id="deleteReply">
                <input type="hidden" value="${ thread._id }" name="thread_id" required>
                <input type="hidden" value="${ reply._id }" name="reply_id" required>
                <input type="text" placeholder="password" name="delete_password" required>
                <input class="button" type="submit" value="Delete">
              </form>
              <pre>${ reply.text }</pre>
            </div>
          `;
        }

        return `
          <div class="thread">
            <form id="reportThread" class="report">
              <input type="hidden" name="report_id" value="${ thread._id }">
              <input type="submit" value="Report" class="button">
            </form>
            <div class="main">
              <p class="id">id: ${ thread._id } (${ thread.created_on })</p>
              <form id="deleteThread">
                <input type="hidden" value="${ thread._id }" name="thread_id" required>
                <input type="text" placeholder="password" name="delete_password" required>
                <input class="button" type="submit" value="Delete">
              </form>
              <pre>${ thread.text }</pre>
            </div>
            <hr>
            <div class="replies">
              ${ repliesHTML }
              <div class="newReply">
                <form action="/api/replies/${ boardName }/" method="post" id="newReply" class="post-form">
                  <input type="hidden" name="thread_id" value="${ thread._id }">
                  <textarea rows="5" type="text" placeholder="Quick reply..." name="text" required></textarea>
                  <br>
                  <div class="footer">
                    <input class="input-text" type="text" placeholder="password to delete" name="delete_password" required>
                    <input class="button" type="submit" value="Submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        `;
      }
      $(function() {
        currentURL = window.location.pathname.slice(3).split('/');

        const boardName = currentURL[0];
        const thread_id = currentURL[1];

        var url = "/api/replies/"+boardName;
        $('#threadTitle').text(window.location.pathname);
        $.ajax({
          type: "GET",
          url: url,
          data: { thread_id },
          success: function(thread)
          {
            $('#boardDisplay').html(renderThread(thread, boardName));
            $('#board-link').attr('href', '/b/' + boardName).text(boardName);
          }
        });

        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + thread_id);
        });


        $('#boardDisplay').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+boardName;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+boardName;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#deleteThread', function(e) {
          var url = "/api/threads/"+boardName;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+boardName;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>
